<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Trap</h2>
    <iframe width="300" height="180" src="https://www.youtube.com/embed/j9FqZp4kh44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>My Dark Trap Type Beat. Free for use. </p>
  </div>
  <div class="tech">
    <h2>Boom Bap</h2>
    <iframe width="300" height="180" src="https://www.youtube.com/embed/DFoYmfL1khU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>My Sad/Emotional Boom Bap Beat. I used guitar instrument in this beat. </p>
  </div>
  <div class="tech">
    <h2>Bass Trap</h2>
    <iframe width="300" height="180"
  src="https://www.youtube.com/embed/skQUhvmxQCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
    <p>My Bass Nation type Hard Trap beat, like Trap Nation.</p>
  </div>
</div>
