<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:yulafbeat@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Youtube Channel" target="_blank" href="https://www.youtube.com/channel/UC_4ylnfoS0IhMjJ-tSSrBBg"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/yulafbeat/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/YulafBeat"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Fiverr" target="_blank" href="https://www.fiverr.com/yulafbeat/make-trap-and-drill-beat-for-you-avoiding-copyright?gig_id=216923398&utm_campaign=base_gig_create_share&utm_content=&utm_medium=shared&utm_source=get_url&utm_term=&view=gig"><i class="icon fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
